.react-datepicker__day--selected {
  background-color: #f50057; /* bright pink for selection */
  border-color: #f50057;
}

.react-datepicker {
  background-color: #282c34; /* dark greyish background */
}

.react-datepicker__header {
  background-color: #282c34; /* same dark greyish color for the header */
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #ffffff; /* white text for contrast against dark background */
}

.react-datepicker__day--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.react-datepicker__day--outside-month {
  color: transparent !important;
  pointer-events: none;
}

.react-datepicker__day--highlighted-custom:first-of-type {
  color: #f50057; /* bright pink for highlighted days */
}

.react-datepicker__day--in-range {
  background-color: #3a3f45; /* slightly lighter grey for in-range days */
  color: #ffffff; /* white text */
}

.selected {
  background-color: #f50057; /* bright pink for selected items */
}

.react-datepicker__day--range-start {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.react-datepicker__day--range-end {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.VictoryContainer-cursor-crosshair {
  stroke: #f50057 !important; /* bright pink for crosshair */
}
