.react-datepicker__day--selected {
    background-color: #470585;
    border-color: #34D399;
}

.react-datepicker {
    background-color: #677a82f6; /* или любой другой темный цвет */
}

.react-datepicker__header {
    background-color: #545e74;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: #F3F4F6;
}

.react-datepicker__day--disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.react-datepicker__day--outside-month {
    color: transparent !important;
    pointer-events: none;
  }

.react-datepicker__day--highlighted-custom:first-of-type {
    color: #e20f0f;
  }

.react-datepicker__day--in-range {
    background-color: rgb(0, 0, 0); /* Замените на желаемый цвет */
    color: white; /* Замените на желаемый цвет текста */
  }

.selected {
background-color: lightblue;
}

.react-datepicker__day--range-start {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .react-datepicker__day--range-end {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .VictoryContainer-cursor-crosshair {
    stroke: red !important; 
}